STRIPE_SECRET_KEY=sk_test_your_key_here
STRIPE_CURRENCY=rub
# Replace these with the pages to which Checkout should return the customer.
STRIPE_SUCCESS_URL=http://localhost:8000/api/docs/
STRIPE_CANCEL_URL=http://localhost:8000/api/docs/

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@example.com
